body {
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper {
    width: 100%;
}

.btn {
    margin: 20px auto;
    display: block;
    width: 200px;
    height: 100px;
    font-size: 24px;
    background-color: lightpink;
    border: 2px solid darkmagenta;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(48, 5, 59);
    position: relative;
    cursor: pointer;
}

.btn:active {
    top: 5px;
    left: 3px;
}

.container {
    font-size: 18px;
    color: darkblue;
}